@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	min-height: 100%; 
}

p{
	margin-left: 40%;
	color: #ffffff;
}

.grid_container{
	display: grid;
	gap: 5px;
	grid-template: 
	"header" 100px
	"navbar" 50px
	"main"	auto
	"sidebar" 200px
	"footer" 30px
	;
}

.header{
	grid-area: header;
	background-color: #9AECDB;
}


.navbar{
	grid-area: navbar;
	background-color: #25CCF7;
}

.main{
	grid-area: main;
	background-color: #1B9CFC;
}

.sidebar{
	grid-area: sidebar;
	background-color: #82ccdd;
}

.footer{
	grid-area: footer;
	background-color: #182C61;
}

@media (min-width: 600px) and (max-width: 899px) 
{

	.grid_container{

		grid-template: 
		"header 	header" 	100px 
		"navbar 	navbar" 	50px
		"main	 	main" 		auto
		"sidebar 	sidebar" 	auto
		"footer 	footer" 	100px /
		 200px 		auto;
 	}

}


@media (min-width: 900px) 
{
	.grid_container {
		grid-template: 
		"header 	header 	header" 	100px 
		"navbar 	main 	sidebar" 	auto
		"footer 	footer 	footer" 	100px /
		 400px 		auto 	200px;
	}
}